body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
}

#banner {
    background: #0280c8;
    position: absolute;
    overflow: hidden;
    width: $banner-width;
    height: $banner-height;
    left: 50%;
    top: 50%;
    margin-left: -$banner-width / 2;
    margin-top: -$banner-height / 2;
    opacity: 0;


    #shape1 {
        left: 0;
        top: 0;
        width: 670.35px;
        height: 544.39px;
        opacity:0;
        position: absolute;
    }


    #shape2 {
        left: 0;
        top: 0;
        width: 697.17px;
        height: 566.17px;
        opacity:0;
        position: absolute;
    }


    #shape3 {
        left: 0;
        top: 0;
        width: 541.65px;
        height: 439.87px;
        opacity:0;
        position: absolute;
    }

    #shape4 {
        left: 0;
        top: 0;
        width: 697.17px;
        height: 566.17px;
        opacity:0;
        position: absolute;
    }

    #shape5 {
        left: 0;
        top: 0;
        width: 521px;
        height: 479px;
        opacity:0;
        position: absolute;
    }

    #shape6 {
        left: 0;
        top: 0;
        width: 521px;
        height: 479px;
        opacity:0;
        position: absolute;
    }







    #logo {
        bottom: 0px;
        left: 0px;
        transform: translate3d(0, 0, 0.1px);
        opacity:0;
        position: absolute;
    }

    #txt1a {
        top: 0px;
        left: 0px;
        opacity: 0;
        clip: rect(0px, 228px, 24px, 0px);
        position: absolute;
    }

    #txt1b {
        top: 0px;
        left: 0px;
        opacity: 0;
        clip: rect(24px, 228px, 50px, 0px);
        position: absolute;
    }

    #txt2a {
        top: 0px;
        left: -10px;
        clip: rect(0px, 112px, 50px, 0px);
        transform: translate3d(0, 0, 0.1px);
        position: absolute;
    }

    #txt2b {
        top: 0px;
        left: -10px;
        clip: rect(0px, 184px, 50px, 112px);
        position: absolute;
    }

    #txt2c {
        top: 0px;
        left: -10px;
        clip: rect(0px, 272px, 50px, 184px);
        position: absolute;
    }

    #cta {
        border: 2px solid rgba(255, 255, 255, 0);
        width: 101px;
        height: 26px;
        right: 32px;
        top: 10px;
        border-radius: 30px;
        background-color: rgba(242, 104, 39, 1);
        opacity: 0;
        position: absolute;

        #cta_txt {
            left: -3px;
            top: -2px;
            position: absolute;
        }
    }

    #button-exit {
        cursor: pointer;
        height: 100%;
        left: 0px;
        position: absolute;
        top: 0px;
        width: 100%;
    }

    #border {
        display: block;
        width: $banner-width - 2;
        height: $banner-height - 2;
        left: 0;
        top: 0;
        pointer-events: none;
        position: absolute;
        z-index: 999;
    }

}
